.login-wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: 'Segoe UI', sans-serif;
    overflow: hidden;
}


.brand-section {
    flex: 1; 
    background: linear-gradient(135deg, #0e1d2b 0%, #1a252f 100%); 
    color: white;
    display: flex;
    align-items: center;
    padding: 60px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -50px;
        right: -50px;
        width: 300px;
        height: 300px;
        background: rgba(243, 156, 18, 0.1); 
        border-radius: 50%;
    }

    .brand-content {
        z-index: 2;
        h1 {
            font-size: 4rem;
            line-height: 1.1;
            font-weight: 800;
            margin-bottom: 20px;
            
            border-left: 5px solid #eb7f1d; 
            padding-left: 20px;
        }
        p {
            font-size: 1.5rem;
            color: #bdc3c7; 
            padding-left: 25px;
        }
    }
}

.form-section {
    flex: 1; 
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-container {
    width: 100%;
    max-width: 380px;
    text-align: center; 

    .logo-wrapper {
        margin-bottom: 60px;
        
        img {
            max-width: 360px; 
            height: auto;
        }
    }

    h2 {
        font-size: 1.8rem;
        color: #1a252f;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .form-instruction {
        color: #7f8c8d;
        margin-bottom: 30px;
    }
}

.full-width {
    width: 100%;
    margin-bottom: 5px;
    text-align: left; 
}


.login-btn {
    width: 100%;
    padding: 24px !important;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    

    background-color: #eb7f1d !important; 
    color: white !important;
    
    box-shadow: 0 4px 10px rgba(243, 156, 18, 0.4);
    border-radius: 8px;
    transition: all 0.2s;

    &:hover {
        background-color: #eb7f1d !important; 
        transform: translateY(-2px);
    }
}

.footer-links {
    margin-top: 20px;
    a {
        color: #95a5a6;
        text-decoration: none;
        font-size: 0.9rem;
        &:hover { color: #eb7f1d; }
    }
}


@media (max-width: 900px) {
    .login-wrapper { flex-direction: column; }
    .brand-section { display: none; } 
}

.highlight-link {
    color: #eb7f1d;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer; 
}

.highlight-link:hover {
    text-decoration: underline;
}